@model Match
<div class="container">
    <div class="row border border-secondary">
        <div class="col-sm-3">
            <div class="justify-content-center">
                <img src="@Model.Home.Flag" width="28" height="32" /> @Model.Home.Name
            </div>
            <div>
                @foreach (var g in Model.Goals.Where(g => g.PlayerTeam.Team == Model.Home).GroupBy(g => g.PlayerTeam.Player.Name))
                {
                    <div class="text-xl-center" style="font-size : 9px">
                        @g.Key- @g.Count()
                    </div>
                }
            </div>
        </div>
        <a class="col-1 bg-dark text-white text-center" style="color: ivory" asp-controller="Matches" asp-action="EditScoreRegular" asp-route-id="@Model.Id">
            <div>
                @Model.HomeScore:@Model.AwayScore
            </div>
        </a>
        <div class="col-sm-3">
            <div class="justify-content-center">
                <img src="@Model.Away.Flag" width="28" height="32" /> @Model.Away.Name
            </div>
            <div>
                @foreach (var g in Model.Goals.Where(g => g.PlayerTeam.Team == Model.Away).GroupBy(g => g.PlayerTeam.Player.Name))
                {
                    <div class="text-xl-center" style="font-size : 9px">
                        @g.Key- @g.Count()
                    </div>
                }
            </div>
        </div>
    </div>
</div>
