@model IEnumerable<Tournament>
@{
    Layout = "_Rating";
    ViewData["Title"] = "Create Rating";
}
<div>
    @await Html.PartialAsync("MenuHeader")
</div>
<div class="mainsection">
    <div class="mainrow">
        <div>
            <div>
                <h3> REGIONALS </h3>
                @foreach (var t in Model.Where(t => t.League.Type == "Regional"))
                {
                    <div class="row">
                        <div class="col-7 p-2 center">
                            @t.Name @t.Season.Data
                        </div>
                        <div class="col-4 p-2">
                            <a class="btn btn-sm btn-danger" asp-action="CalculateRating" asp-route-id="@t.Id">
                                CALCULATE
                            </a>
                        </div>
                        <div class="col-1 p-2 center">
                            @if (t.Ratings.Count() > 0)
                            {
                                @t.Ratings.Count();
                            }
                        </div>
                    </div>
                }
            </div>
            <div>
                <h3> EUROCUPS </h3>
                @foreach (var t in Model.Where(t => t.League.Type == "EuroCup"))
                {
                    <div class="row">
                        <div class="col-7 p-2 center">
                            @t.Name @t.Season.Data
                        </div>
                        <div class="col-4 p-2">
                            <a class="btn btn-sm btn-danger" asp-action="CalculateRating" asp-route-id="@t.Id">
                                CALCULATE
                            </a>
                        </div>
                        <div class="col-1 p-2 center">
                            @if (t.Ratings.Count() > 0)
                            {
                                @t.Ratings.Count();
                            }
                        </div>
                    </div>
                }
            </div>
            <div>
                <h3> NATIONALS </h3>
                @foreach (var t in Model.Where(t => t.League.Type == "National"))
                {
                    <div class="row">
                        <div class="col-7 p-2 center">
                            @t.Name @t.Season.Data
                        </div>
                        <div class="col-4 p-2">
                            <a class="btn btn-sm btn-danger" asp-action="CalculateRating" asp-route-id="@t.Id">
                                CALCULATE
                            </a>
                        </div>
                        <div class="col-1 p-2 center">
                            @if (t.Ratings.Count() > 0)
                            {
                                @t.Ratings.Count();
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>